{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkSecurityPerimeters"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_ListBySubscription",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "List all network security perimeters in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimetersList": {
            "$ref": "./examples/NetworkSecurityPerimeterListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_List",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "List network security perimeters in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeters_Get",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Gets the specified network security perimeter by the name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterGet": {
            "$ref": "./examples/NetworkSecurityPerimeterGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkSecurityPerimeters_CreateOrUpdate",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Creates or updates a Network Security Perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter supplied to create or update the network security perimeter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkSecurityPerimeter' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "201": {
            "description": "Resource 'NetworkSecurityPerimeter' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Put Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterPut.json"
          }
        }
      },
      "patch": {
        "operationId": "NetworkSecurityPerimeters_Patch",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Patch Tags for a Network Security Perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter supplied to the network security perimeter.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkSecurityPerimeters_Delete",
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "description": "Deletes a network security perimeter.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSecurityPerimeterName",
            "in": "path",
            "description": "The name of the network security perimeter.",
            "required": true,
            "type": "string",
            "maxLength": 80,
            "pattern": "(^[a-zA-Z0-9]+[a-zA-Z0-9_.-]*[a-zA-Z0-9_]+$)|(^[a-zA-Z0-9]$)"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Deletes the resource even if it contains any child associations.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterDelete": {
            "$ref": "./examples/NetworkSecurityPerimeterDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NspAssociationPut": {
            "$ref": "./examples/NspAssociationPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "operationId": "NetworkSecurityPerimeterAssociations_Delete",
        "description": "Deletes an NSP association resource.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "202": {
            "description": "Delete in progress.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Azure async operation header",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NspAssociationDelete": {
            "$ref": "./examples/NspAssociationDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "operationId": "NetworkSecurityPerimeterAssociations_List",
        "description": "Lists the NSP resource associations.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the list of NSP resource associations.",
            "schema": {
              "$ref": "#/definitions/NspAssociationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationList": {
            "$ref": "./examples/NspAssociationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations/{associationName}/reconcile": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/AssociationNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "post": {
        "tags": [
          "NetworkSecurityPerimeterAssociations"
        ],
        "operationId": "NetworkSecurityPerimeterAssociations_Reconcile",
        "description": "Reconcile NSP association",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspAssociationReconcile"
            },
            "description": "Parameters for NSP association reconcile"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconcile NSP association.",
            "schema": {
              "$ref": "#/definitions/NspAssociationReconcile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationReconcile": {
            "$ref": "./examples/NspAssociationReconcile.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterAssociableResourceTypes"
        ],
        "operationId": "NetworkSecurityPerimeterAssociableResourceTypes_List",
        "description": "Gets the list of resources that are onboarded with NSP. These resources can be associated with a network security perimeter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. Returns the list of resources that are onboarded with network security perimeter feature.",
            "schema": {
              "$ref": "#/definitions/PerimeterAssociableResourcesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterAssociableResourceTypes": {
            "$ref": "./examples/PerimeterAssociableResourcesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}/accessRules/{accessRuleName}/reconcile": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/ProfileNameParameter"
        },
        {
          "$ref": "#/parameters/AccessRuleNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "post": {
        "tags": [
          "NetworkSecurityPerimeterAccessRules"
        ],
        "operationId": "NetworkSecurityPerimeterAccessRules_Reconcile",
        "description": "Reconcile NSP access rules",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspAccessRuleReconcile"
            },
            "description": "Parameters for NSP access rule reconcile"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconcile NSP access rule.",
            "schema": {
              "$ref": "#/definitions/NspAccessRuleReconcile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRuleReconcile": {
            "$ref": "./examples/NspAccessRuleReconcile.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/links/{linkName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/LinkNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "operationId": "NetworkSecurityPerimeterLinks_Get",
        "description": "Gets the specified NSP link resource.",
        "responses": {
          "200": {
            "description": "OK - Returns NSP link resource.",
            "schema": {
              "$ref": "#/definitions/NspLink"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinksGet": {
            "$ref": "./examples/NspLinkGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "operationId": "NetworkSecurityPerimeterLinks_CreateOrUpdate",
        "description": "Creates or updates NSP link resource.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspLink"
            },
            "description": "Parameters that hold the NspLink resource to be created/updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Existing NspLink resource is updated. Returns the resource.",
            "schema": {
              "$ref": "#/definitions/NspLink"
            }
          },
          "201": {
            "description": "Create - Returns the NspLink resource created.",
            "schema": {
              "$ref": "#/definitions/NspLink"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinksPut": {
            "$ref": "./examples/NspLinkPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "operationId": "NetworkSecurityPerimeterLinks_Delete",
        "description": "Deletes an NSP Link resource.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "202": {
            "description": "Delete in progress.",
            "headers": {
              "location": {
                "description": "location header",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NspLinkDelete": {
            "$ref": "./examples/NspLinkDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/links": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterLinks"
        ],
        "operationId": "NetworkSecurityPerimeterLinks_List",
        "description": "Lists the NSP Link resources in the specified network security perimeter.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the list of NSP link resources.",
            "schema": {
              "$ref": "#/definitions/NspLinkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkList": {
            "$ref": "./examples/NspLinkList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/linkReferences/{linkReferenceName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/LinkReferenceNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkSecurityPerimeterLinkReferences"
        ],
        "operationId": "NetworkSecurityPerimeterLinkReferences_Get",
        "description": "Gets the specified NSP linkReference resource.",
        "responses": {
          "200": {
            "description": "OK - Returns the NSP linkReference resource.",
            "schema": {
              "$ref": "#/definitions/NspLinkReference"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkReferencesGet": {
            "$ref": "./examples/NspLinkReferenceGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkSecurityPerimeterLinkReferences"
        ],
        "operationId": "NetworkSecurityPerimeterLinkReferences_Delete",
        "description": "Deletes an NSP LinkReference resource.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "202": {
            "description": "Delete in progress.",
            "headers": {
              "location": {
                "description": "location header",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NspLinkReferenceDelete": {
            "$ref": "./examples/NspLinkReferenceDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/linkReferences": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterLinkReferences"
        ],
        "operationId": "NetworkSecurityPerimeterLinkReferences_List",
        "description": "Lists the NSP LinkReference resources in the specified network security perimeter.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the list of NSP linkReference resources.",
            "schema": {
              "$ref": "#/definitions/NspLinkReferenceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLinkReferenceList": {
            "$ref": "./examples/NspLinkReferenceList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations/{loggingConfigurationName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/LoggingConfigurationNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_Get",
        "description": "Gets the NSP logging configuration.",
        "responses": {
          "200": {
            "description": "OK - Returns NSP logging configuration.",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationGet": {
            "$ref": "./examples/NspLoggingConfigurationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_CreateOrUpdate",
        "description": "Creates or updates NSP logging configuration.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            },
            "description": "Parameters that hold the NspLoggingConfiguration to be created/updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Existing NspLoggingConfiguration is updated. Returns the logging configuration.",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            }
          },
          "201": {
            "description": "Create - Returns the NspLoggingConfiguration resource created.",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationPut": {
            "$ref": "./examples/NspLoggingConfigurationPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_Delete",
        "description": "Deletes an NSP Logging configuration.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. The logging configuration does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationDelete": {
            "$ref": "./examples/NspLoggingConfigurationDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkSecurityPerimeterLoggingConfigurations"
        ],
        "operationId": "NetworkSecurityPerimeterLoggingConfigurations_List",
        "description": "Lists the NSP logging configuration.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK - Returns the list of NSP logging configuration.",
            "schema": {
              "$ref": "#/definitions/NspLoggingConfigurationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspLoggingConfigurationList": {
            "$ref": "./examples/NspLoggingConfigurationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/networkSecurityPerimeterOperationStatuses/{operationId}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/LocationParameter"
        },
        {
          "$ref": "#/parameters/OperationIdParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkSecurityPerimeterOperationStatuses"
        ],
        "operationId": "NetworkSecurityPerimeterOperationStatuses_Get",
        "description": "Gets the operation status for the given operation id.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the Nsp operation.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspOperationStatusGet": {
            "$ref": "./examples/NspOperationStatusGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/nspServiceTags": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeterServiceTags"
        ],
        "operationId": "NetworkSecurityPerimeterServiceTags_List",
        "description": "Gets the list of service tags supported by NSP. These service tags can be used to create access rules in NSP.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. Returns the list of service tags supported by NSP.",
            "schema": {
              "$ref": "#/definitions/NspServiceTagsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NSPServiceTagsList": {
            "$ref": "./examples/NspServiceTagsList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeter": {
      "type": "object",
      "description": "The Network Security Perimeter resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityPerimeterProperties",
          "description": "The network security perimeter properties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NetworkSecurityPerimeterListResult": {
      "type": "object",
      "description": "The response of a NetworkSecurityPerimeter list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkSecurityPerimeter items on this page",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeter"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkSecurityPerimeterProperties": {
      "type": "object",
      "description": "Properties of network security perimeter.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspProvisioningState",
          "description": "The provisioning state of the scope assignment resource.",
          "readOnly": true
        },
        "perimeterGuid": {
          "type": "string",
          "description": "perimeter guid of the network security perimeter.",
          "readOnly": true
        }
      }
    },
    "NspAccessRule": {
      "type": "object",
      "description": "The NSP access rule resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspAccessRuleProperties",
          "description": "Properties of the NSP access rule.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/CommonProxyResource"
        }
      ]
    },
    "NspAccessRuleListResult": {
      "type": "object",
      "description": "The response of a NspAccessRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspAccessRule items on this page",
          "items": {
            "$ref": "#/definitions/NspAccessRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspAccessRuleProperties": {
      "type": "object",
      "description": "Properties of NSP access rule.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspProvisioningState",
          "description": "The provisioning state of the scope assignment resource.",
          "readOnly": true
        },
        "direction": {
          "$ref": "./common.json#/definitions/AccessRuleDirection",
          "description": "Direction that specifies whether the access rules is inbound/outbound."
        },
        "addressPrefixes": {
          "type": "array",
          "description": "Inbound address prefixes (IPv4/IPv6)",
          "items": {
            "type": "string"
          }
        },
        "fullyQualifiedDomainNames": {
          "type": "array",
          "description": "Outbound rules in fully qualified domain name format.",
          "items": {
            "type": "string"
          }
        },
        "subscriptions": {
          "type": "array",
          "description": "List of subscription ids",
          "items": {
            "$ref": "#/definitions/SubscriptionId"
          },
          "x-ms-client-flatten": true
        },
        "networkSecurityPerimeters": {
          "type": "array",
          "description": "Rule specified by the perimeter id.",
          "items": {
            "$ref": "#/definitions/PerimeterBasedAccessRule"
          },
          "readOnly": true,
          "x-ms-client-flatten": true
        },
        "emailAddresses": {
          "type": "array",
          "description": "Outbound rules in email address format. This access rule type is currently unavailable for use.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "description": "Outbound rules in phone number format. This access rule type is currently unavailable for use.",
          "items": {
            "type": "string"
          }
        },
        "serviceTags": {
          "type": "array",
          "description": "Inbound rules of type service tag. This access rule type is currently unavailable for use.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NspAssociation": {
      "type": "object",
      "description": "The NSP resource association resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspAssociationProperties",
          "description": "Properties of the NSP resource association.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/CommonProxyResource"
        }
      ]
    },
    "NspAssociationProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspProvisioningState",
          "description": "The provisioning state of the resource  association resource.",
          "readOnly": true
        },
        "privateLinkResource": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The PaaS resource to be associated."
        },
        "profile": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "Profile id to which the PaaS resource is associated."
        },
        "accessMode": {
          "$ref": "./common.json#/definitions/AssociationAccessMode",
          "description": "Access mode on the association."
        },
        "hasProvisioningIssues": {
          "type": "string",
          "description": "Specifies if there are provisioning issues",
          "readOnly": true
        }
      }
    },
    "NspLink": {
      "type": "object",
      "description": "The network security perimeter link resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspLinkProperties",
          "description": "Properties of the network security perimeter link resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/CommonProxyResource"
        }
      ]
    },
    "NspLinkListResult": {
      "type": "object",
      "description": "The response of a NspLink list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspLink items on this page",
          "items": {
            "$ref": "#/definitions/NspLink"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspLinkProperties": {
      "type": "object",
      "description": "Properties of NSP Link resource.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspLinkProvisioningState",
          "description": "The provisioning state of the NSP Link resource.",
          "readOnly": true
        },
        "autoApprovedRemotePerimeterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Perimeter ARM Id for the remote NSP with which the link gets created in Auto-approval mode. It should be used when the NSP admin have Microsoft.Network/networkSecurityPerimeters/linkPerimeter/action permission on the remote NSP resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/networkSecurityPerimeters"
              }
            ]
          }
        },
        "remotePerimeterGuid": {
          "type": "string",
          "description": "Remote NSP Guid with which the link gets created.",
          "readOnly": true
        },
        "remotePerimeterLocation": {
          "type": "string",
          "description": "Remote NSP location with which the link gets created.",
          "readOnly": true
        },
        "localInboundProfiles": {
          "type": "array",
          "description": "Local Inbound profile names to which Inbound is allowed. Use ['*'] to allow inbound to all profiles.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "localOutboundProfiles": {
          "type": "array",
          "description": "Local Outbound profile names from which Outbound is allowed. In current version, it is readonly property and it's value is set to ['*'] to allow outbound from all profiles. In later version, user will be able to modify it.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "remoteInboundProfiles": {
          "type": "array",
          "description": "Remote Inbound profile names to which Inbound is allowed. Use ['*'] to allow inbound to all profiles. This property can only be updated in auto-approval mode.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "remoteOutboundProfiles": {
          "type": "array",
          "description": "Remote Outbound profile names from which Outbound is allowed. In current version, it is readonly property and it's value is set to ['*'] to allow outbound from all profiles. In later version, user will be able to modify it.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A message passed to the owner of the remote NSP link resource with this connection request. In case of Auto-approved flow, it is default to 'Auto Approved'. Restricted to 140 chars."
        },
        "status": {
          "$ref": "./common.json#/definitions/NspLinkStatus",
          "description": "The NSP link state.",
          "readOnly": true
        }
      }
    },
    "NspLinkReference": {
      "type": "object",
      "description": "The network security perimeter linkReference resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspLinkReferenceProperties",
          "description": "Properties of the network security perimeter linkReference resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NspLinkReferenceListResult": {
      "type": "object",
      "description": "The response of a NspLinkReference list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspLinkReference items on this page",
          "items": {
            "$ref": "#/definitions/NspLinkReference"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspProfileProperties": {
      "type": "object",
      "properties": {
        "accessRulesVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Version number that increases with every update to access rules within the profile."
        },
        "diagnosticSettingsVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Version number that increases with every update to diagnostic settings within the profile."
        }
      },
      "description": "Properties of NSP profile."
    },
    "NspAccessRule": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspAccessRuleProperties",
          "description": "Properties of the NSP access rule."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "The NSP access rule resource"
    },
    "NspAccessRuleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspAccessRule"
          },
          "description": "Gets a page of NSP access rule"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP access rules. Contains a list of NSP access rules and a URL link to get the next set of results."
    },
    "NspAccessRuleProperties": {
      "type": "object",
      "description": "Properties of NSP LinkReference resource.",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/NspLinkProvisioningState",
          "description": "The provisioning state of the NSP LinkReference resource.",
          "readOnly": true
        },
        "remotePerimeterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Perimeter ARM Id for the remote NSP with which the link is created.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/networkSecurityPerimeters"
              }
            ]
          }
        },
        "remotePerimeterGuid": {
          "type": "string",
          "description": "Remote NSP Guid with which the link is created.",
          "readOnly": true
        },
        "remotePerimeterLocation": {
          "type": "string",
          "description": "Remote NSP location with which the link gets created.",
          "readOnly": true
        },
        "localInboundProfiles": {
          "type": "array",
          "description": "Local Inbound profile names to which Inbound is allowed. Use ['*'] to allow inbound to all profiles.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "localOutboundProfiles": {
          "type": "array",
          "description": "Local Outbound profile names from which Outbound is allowed. In current version, it is readonly property and it's value is set to ['*'] to allow outbound from all profiles. In later version, user will be able to modify it.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "remoteInboundProfiles": {
          "type": "array",
          "description": "Remote Inbound profile names to which Inbound is allowed. ['*'] value implies inbound is allowed to all profiles at remote perimeter. This property can only be updated from corresponding link resource present in remote perimeter.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "remoteOutboundProfiles": {
          "type": "array",
          "description": "Remote Outbound profile names from which Outbound is allowed. ['*'] value implies outbound is allowed from all profiles at remote perimeter. This property can only be updated from corresponding link resource present in remote perimeter.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A message sent by the remote NSP link admin for connection request. In case of Auto-approved flow, it is default to 'Auto Approved'.",
          "readOnly": true
        },
        "status": {
          "$ref": "./common.json#/definitions/NspLinkStatus",
          "description": "The NSP linkReference state. It cannot be changed if link is created in auto-approval mode."
        }
      }
    },
    "NspLoggingConfiguration": {
      "type": "object",
      "description": "The NSP logging configuration",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspLoggingConfigurationProperties",
          "description": "Properties of the NSP logging configuration.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/CommonProxyResource"
        }
      ]
    },
    "NspLoggingConfigurationListResult": {
      "type": "object",
      "description": "The response of a NspLoggingConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspLoggingConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/NspLoggingConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspLoggingConfigurationProperties": {
      "type": "object",
      "description": "The NSP logging configuration properties.",
      "properties": {
        "enabledLogCategories": {
          "type": "array",
          "description": "The log categories to enable in the NSP logging configuration.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The version of the NSP logging configuration."
        }
      }
    },
    "NspProfile": {
      "type": "object",
      "description": "The network security perimeter profile resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NspProfileProperties",
          "description": "Properties of the network security perimeter profile",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/CommonProxyResource"
        }
      ]
    },
    "NspProfileListResult": {
      "type": "object",
      "description": "The response of a NspProfile list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NspProfile items on this page",
          "items": {
            "$ref": "#/definitions/NspProfile"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NspProfileProperties": {
      "type": "object",
      "description": "Properties of NSP profile.",
      "properties": {
        "accessRulesVersion": {
          "type": "string",
          "description": "Version number that increases with every update to access rules within the profile.",
          "readOnly": true
        },
        "diagnosticSettingsVersion": {
          "type": "string",
          "description": "Version number that increases with every update to diagnostic settings within the profile.",
          "readOnly": true
        }
      }
    },
    "NspServiceTagsResource": {
      "type": "object",
      "description": "Resource containing list of NSP service tags.",
      "properties": {
        "serviceTags": {
          "type": "array",
          "description": "NSP service tags.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PerimeterAssociableResource": {
      "type": "object",
      "description": "Resource that is onboarded to use network security perimeter. Also referred as perimeter associable resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PerimeterAssociableResourceProperties",
          "description": "Properties of the perimeter associable resource.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the perimeter associable resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type.",
          "readOnly": true
        }
      }
    },
    "PerimeterAssociableResourceProperties": {
      "type": "object",
      "description": "Properties of the perimeter associable resources.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the properties of perimeter associable resources.",
          "readOnly": true
        },
        "resourceType": {
          "type": "string",
          "description": "Resource type/provider name.",
          "readOnly": true
        },
        "publicDnsZones": {
          "type": "array",
          "description": "Public DNS zone names of the resources.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "PerimeterBasedAccessRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "NSP id in the ARM id format.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/networkSecurityPerimeters"
              }
            ]
          }
        },
        "perimeterGuid": {
          "type": "string",
          "description": "Resource guid of the NSP supplied.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Location of the NSP supplied.",
          "readOnly": true
        }
      }
    },
    "SubscriptionId": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspAssociationProperties",
          "description": "Properties of the NSP resource association."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "The NSP resource association resource"
    },
    "NspAssociationsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspAssociation"
          },
          "description": "Gets a page of NSP resource associations"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP resource associations. Contains a list of NSP resource associations and a URL link to get the next set of results."
    },
    "NspAssociationProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/NSPProvisioningState",
          "description": "The provisioning state of the resource  association resource."
        },
        "privateLinkResource": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "The PaaS resource to be associated."
        },
        "profile": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "Profile id to which the PaaS resource is associated."
        },
        "accessMode": {
          "type": "string",
          "enum": [
            "Learning",
            "Enforced",
            "Audit"
          ],
          "x-ms-enum": {
            "name": "AssociationAccessMode",
            "modelAsString": true
          },
          "description": "Access mode on the association."
        },
        "hasProvisioningIssues": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies if there are provisioning issues"
        }
      }
    },
    "NspAssociationReconcile": {
      "type": "object",
      "properties": {},
      "description": "Request object for NSP association."
    },
    "PerimeterAssociableResource": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PerimeterAssociableResourceProperties",
          "description": "Properties of the perimeter associable resource."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Identifier of the perimeter associable resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "description": "Resource that is onboarded to use network security perimeter. Also referred as perimeter associable resource."
    },
    "PerimeterAssociableResourcesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerimeterAssociableResource"
          },
          "description": "Gets paged list of perimeter associable resources."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Paged list of perimeter associable resources."
    },
    "PerimeterAssociableResourceProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "A friendly name for the properties of perimeter associable resources."
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type/provider name."
        },
        "publicDnsZones": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Public DNS zone names of the resources."
        }
      },
      "description": "Properties of the perimeter associable resources."
    },
    "NSPProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Updating",
        "Deleting",
        "Accepted",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "nspProvisioningState",
        "modelAsString": true
      }
    },
    "NSPLinkProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state of NSP Link/LinkReference.",
      "enum": [
        "Succeeded",
        "Creating",
        "Updating",
        "Deleting",
        "Accepted",
        "Failed",
        "WaitForRemoteCompletion"
      ],
      "x-ms-enum": {
        "name": "nspLinkProvisioningState",
        "modelAsString": true
      }
    },
    "NspAccessRuleReconcile": {
      "type": "object",
      "properties": {},
      "description": "Request object for NSP reconcile."
    },
    "NspLink": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspLinkProperties",
          "description": "Properties of the network security perimeter link resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "The network security perimeter link resource"
    },
    "NspLinkListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspLink"
          },
          "description": "Gets a page of NSP Link resources."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP link resources. Contains a list of NSP link resources and a URL link to get the next set of results."
    },
    "NspLinkProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/NSPLinkProvisioningState",
          "description": "The provisioning state of the NSP Link resource."
        },
        "autoApprovedRemotePerimeterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Subscription id in the ARM id format.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Resources/subscriptions"
              }
            ]
          }
        }
      }
    },
    "UpdateTagsRequest": {
      "type": "object",
      "description": "Update tags request.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Network security perimeter identifier.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/networkSecurityPerimeters"
              }
            ]
          }
        },
        "tags": {
          "type": "object",
          "description": "List of tags for Network Security Perimeter",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Properties of NSP Link resource."
    },
    "NspLinkReference": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspLinkReferenceProperties",
          "description": "Properties of the network security perimeter linkReference resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "The network security perimeter linkReference resource"
    },
    "NspLinkReferenceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspLinkReference"
          },
          "description": "Gets a page of NSP LinkReference resources."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP linkReference resources. Contains a list of NSP linkReference resources and a URL link to get the next set of results."
    },
    "NspLinkReferenceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/NSPLinkProvisioningState",
          "description": "The provisioning state of the NSP LinkReference resource."
        },
        "remotePerimeterResourceId": {
          "readOnly": true,
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/networkSecurityPerimeters"
              }
            ]
          },
          "description": "Perimeter ARM Id for the remote NSP with which the link is created."
        },
        "remotePerimeterGuid": {
          "readOnly": true,
          "type": "string",
          "description": "Remote NSP Guid with which the link is created."
        },
        "remotePerimeterLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Remote NSP location with which the link gets created."
        },
        "localInboundProfiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Local Inbound profile names to which Inbound is allowed. Use ['*'] to allow inbound to all profiles.",
          "uniqueItems": true
        },
        "localOutboundProfiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Local Outbound profile names from which Outbound is allowed. In current version, it is readonly property and it's value is set to ['*'] to allow outbound from all profiles. In later version, user will be able to modify it.",
          "uniqueItems": true
        },
        "remoteInboundProfiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Remote Inbound profile names to which Inbound is allowed. ['*'] value implies inbound is allowed to all profiles at remote perimeter. This property can only be updated from corresponding link resource present in remote perimeter."
        },
        "remoteOutboundProfiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Remote Outbound profile names from which Outbound is allowed. ['*'] value implies outbound is allowed from all profiles at remote perimeter. This property can only be updated from corresponding link resource present in remote perimeter."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "A message sent by the remote NSP link admin for connection request. In case of Auto-approved flow, it is default to 'Auto Approved'."
        },
        "status": {
          "type": "string",
          "description": "The NSP linkReference state. It cannot be changed if link is created in auto-approval mode.",
          "enum": [
            "Approved",
            "Pending",
            "Rejected",
            "Disconnected"
          ],
          "x-ms-enum": {
            "name": "nspLinkStatus",
            "modelAsString": true
          }
        }
      },
      "description": "Properties of NSP LinkReference resource."
    },
    "NspLoggingConfiguration": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspLoggingConfigurationProperties",
          "description": "Properties of the NSP logging configuration."
        }
      },
      "description": "The NSP logging configuration",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NspLoggingConfigurationProperties": {
      "type": "object",
      "properties": {
        "enabledLogCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The log categories to enable in the NSP logging configuration."
        },
        "version": {
          "type": "string",
          "description": "The version of the NSP logging configuration."
        }
      },
      "description": "The NSP logging configuration properties."
    },
    "NspLoggingConfigurationListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspLoggingConfiguration"
          },
          "description": "Gets a page of NSP logging configuration"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP logging configuration. Contains a list of NSP logging configurations and a URL link to get the next set of results."
    },
    "NspServiceTagsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspServiceTagsResource"
          },
          "description": "Gets paged list of NSP service tags."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP service tags."
    },
    "NspServiceTagsResource": {
      "type": "object",
      "properties": {
        "serviceTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "NSP service tags."
        }
      },
      "description": "Resource containing list of NSP service tags."
    }
  },
  "parameters": {}
}
